@tailwind base;
@tailwind components;
@tailwind utilities;

/* Patagonia Official Fonts */
@font-face {
  font-family: "Ridgeway Sans Static";
  src: url(https://images.patagonia.com/eMedia/fonts/RidgewaySans/static/RidgewaySans-Regular.woff2)
      format("woff2"),
    url(https://images.patagonia.com/eMedia/fonts/RidgewaySans/static/RidgewaySans-Regular.woff)
      format("woff");
  font-display: swap;
  font-weight: 400 500;
  font-style: normal;
}

@font-face {
  font-family: "Ridgeway Sans Static";
  src: url(https://images.patagonia.com/eMedia/fonts/RidgewaySans/static/RidgewaySans-Medium.woff2)
      format("woff2"),
    url(https://images.patagonia.com/eMedia/fonts/RidgewaySans/static/RidgewaySans-Medium.woff)
      format("woff");
  font-display: swap;
  font-weight:600 700;
  font-style: normal;
}

@font-face {
  font-family: "Ridgeway Sans Static";
  src: url(https://images.patagonia.com/eMedia/fonts/RidgewaySans/static/RidgewaySans-Bold.woff2)
      format("woff2"),
    url(https://images.patagonia.com/eMedia/fonts/RidgewaySans/static/RidgewaySans-Bold.woff)
      format("woff");
  font-display: swap;
  font-weight:800;
  font-style: normal;
}

@font-face {
  font-family: "Ridgeway Sans Static";
  src: url(https://images.patagonia.com/eMedia/fonts/RidgewaySans/static/RidgewaySans-RegularItalic.woff2)
      format("woff2"),
    url(https://images.patagonia.com/eMedia/fonts/RidgewaySans/static/RidgewaySans-RegularItalic.woff)
      format("woff");
  font-display: swap;
  font-weight: 400 500;
  font-style: italic;
}

@font-face {
  font-family: "Ridgeway Sans Static";
  src: url(https://images.patagonia.com/eMedia/fonts/RidgewaySans/static/RidgewaySans-MediumItalic.woff2)
      format("woff2"),
    url(https://images.patagonia.com/eMedia/fonts/RidgewaySans/static/RidgewaySans-MediumItalic.woff)
      format("woff");
  font-display: swap;
  font-weight:600 700;
  font-style: italic;
}

@font-face {
  font-family: "Ridgeway Sans Static";
  src: url(https://images.patagonia.com/eMedia/fonts/RidgewaySans/static/RidgewaySans-BoldItalic.woff2)
      format("woff2"),
    url(https://images.patagonia.com/eMedia/fonts/RidgewaySans/static/RidgewaySans-BoldItalic.woff)
      format("woff");
  font-display: swap;
  font-weight:800;
  font-style: italic;
}

@font-face {
  font-family: "Copernicus";
  font-style: normal;
  font-weight: 400;
  src: url(https://images.patagonia.com/eMedia/fonts/GalaxieCopernicus/GalaxieCopernicus-Book.woff2)
    format("woff2");
}

@font-face {
  font-family: "Copernicus";
  font-style: italic;
  font-weight: 400;
  src: url(https://images.patagonia.com/eMedia/fonts/GalaxieCopernicus/GalaxieCopernicus-BookItalic.woff2)
    format("woff2");
}

/* Patagonia Font Utility Classes */
.font-ridgeway {
  font-family: "Ridgeway Sans Static", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, sans-serif;
}

.font-copernicus {
  font-family: "Copernicus", Georgia, "Times New Roman", serif;
}

input[type='number'] {
  -moz-appearance: textfield;
  appearance: textfield;
}

input[type='number']::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type='number']::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
